.root {
    @mixin responsive gap, 20, 20;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.card[class] {
    height: 100%;
}