.root {
    @mixin responsive padding-inline, 0, 100;
    @mixin responsive padding-block-start, 0, 61;
}

.contentWrapper {
    position: relative;
    z-index: 10;
}

.mobilePosterWrapper {
    @mixin responsive height, 302;
    @mixin responsive border-radius, 30;
    @mixin responsive margin-block-end, 38;

    overflow: hidden;
    position: relative;
    display: none;
    justify-content: center;

    width: 100%;
    background-color: var(--color-gray-7);

    @media (max-width: $mobile) {
        display: flex;
    }
}

.imageWrap {
    @mixin responsive width, 301;
    @mixin responsive margin-block-start, 42;
    @mixin responsive height, 222;

    position: relative;
}

.titleBlock {
    @mixin responsive max-width, 0, 304;
    @mixin responsive padding-block-end, 0, 47;

    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
        align-items: center;
        max-width: unset;
    }
}

.subtitle,
.title,
.legend {
    @media (max-width: $mobile) {
        text-align: center;
    }
}

.subtitle {
    @mixin b2;
    @mixin responsive padding-block-end, 3, 18;

    line-height: 1;
    font-weight: 600;
}

.title {
    @mixin h1;
    @mixin responsive padding-block-end, 10, 74;

    @media (max-width: $mobile) {
        color: var(--color-green-1);
    }
}

.legend {
    @mixin b2;
    @mixin responsive padding-block-end, 39;

    line-height: 1;

    b {
        font-weight: 600;
    }

    @media (max-width: $mobile) {
        line-height: 1.56;
    }
}

.card {
    @mixin responsive max-width, 0, 470;
    @mixin responsive border-radius, 20, 20;
    @mixin responsive padding, 0, 40;
    @mixin responsive padding-inline, 20;
    @mixin responsive padding-block, 45;

    background-color: var(--color-white-0);
    width: fit-content;

    @media (max-width: $mobile) {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.icon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.cardTitle,
.cardContent {
    @media (max-width: $mobile) {
        text-align: center;
    }
}

.cardTitle {
    @mixin h6;
    @mixin responsive padding-block-end, 20, 26;

    color: var(--color-green-4);
    line-height: 1;

    @media (max-width: $mobile) {
        @mixin h5;

        font-weight: 600;
    }
}

.cardContent {
    @mixin b2;
    @mixin responsive padding-block-end, 35, 26;

    line-height: 1;
    color: var(--color-green-4);

    ul {
        @mixin responsive padding-inline-start, 20, 20;

        list-style: disc;
    }

    @media (max-width: $mobile) {
        @mixin h5;
    }
}

.button.button[class] {
    width: fit-content;
}

.desktopImage[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}
