.root {
    @mixin responsive gap, 20, 30;

    display: flex;
    flex-direction: column;
}

.wrapper {
    @mixin responsive --first-col, 0, 590;
    @mixin responsive gap, 20, 20;
    @mixin responsive min-height, 0, 500;

    display: grid;
    grid-template-columns: var(--first-col) auto;

    &.right {
        @mixin responsive --first-col, 0, 750;

        .text {
            order: 2;

            @media (max-width: $mobile) {
                order: 0;
            }
        }
    }

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.title {
    @mixin h2;
}

.description {
    @mixin text-2xl;

    line-height: 1.55;
}

.slider {
    @mixin responsive min-height, 229;
}

.titleSection {
    @mixin responsive gap, 10, 20;

    display: flex;
    flex-direction: column;
}
