.root {
    @mixin responsive border-radius, 30, 30;

    overflow: hidden;
    position: relative;
}

.buttonPrev,
.buttonNext {
    @mixin responsive width, 30, 30;
    @mixin responsive height, 30, 30;
    @mixin transitionOptions;

    transition-property: opacity, background-color;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: var(--color-gray-4);

    @media (hover:hover) {
        &:hover {
            background-color: var(--color-white-0);
        }
    }
}

.poster {
    @mixin transitionOptions;

    transition-property: opacity;
    opacity: 0;
}

.poster.active {
    opacity: 1;
    z-index: 1;
}

.buttonPrev {
    @mixin responsive margin-inline-start, 20, 20;

    rotate: 180deg;
    translate: 0 -50%;
    left: 0;
}

.buttonNext {
    @mixin responsive margin-inline-end, 20, 20;

    translate: 0 -50%;
    right: 0;
}