.root.root[class] {
    @mixin transitionOptions;
    @mixin responsive --left, 25, 0;
    @mixin responsive padding-block-start, 62, 20;
    @mixin responsive padding-block-end, 25, 60;
    @mixin responsive gap, 15;

    transition-property: translate, opacity;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: unset;
    top: 0;
    border-radius: 0;
    translate: 0 -100%;
    background-color: inherit;

    &.open {
        opacity: 1;
        translate: 0 0;
    }

    background: var(--color-white-0);

    @media (max-width: $mobile) {
        translate: 150% -50%;
        top: 50%;
        right: 0;
        height: 100%;

        &.open {
            translate: 0 -50%;
        }
    }
}

.wrap {
    @mixin responsive gap, 15, 60;

    position: relative;
    z-index: 10;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.closeButton[class] {
    @mixin responsive margin-inline-end, 20, 40;
    @mixin responsive border-radius, 10, 10;

    background-color: var(--color-gray-11);
    position: fixed;
}
