.root {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-block, 40, 100;
    @mixin responsive padding-inline, 20, 100;
    @mixin responsive gap, 15, 15;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white-0);
}

.title {
    @mixin h4;

    font-weight: 600;
}

.description {
    @mixin b2;

    ul {
        @mixin responsive padding-inline-start, 20, 20;

        list-style: disc;
    }
}

.icon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.button[class] {
    width: fit-content;
}
