.root {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-block, 20, 100;
    @mixin responsive padding-inline, 20, 100;
    @mixin responsive gap, 15, 15;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white-0);
}

.title {
    @mixin h4;

    font-weight: 600;
}

.description {
    @mixin b2;
}