.root {
    @mixin responsive gap, 10, 20;

    display: flex;
    align-items: center;
}

.changeBranch[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}

.phone {
    @mixin b2;
    @mixin transition color;

    font-weight: 600;
    line-height: 1;

    @media (hover: hover) {
        &:hover {
            color: var(--color-green-1);
        }
    }

    @media (max-width: $mobile) {
        display: none;
    }
}

.circleIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.button.button[class] {
    @mixin b4;
    @mixin responsive padding, 5, 10;

    @media (max-width: $mobile) {
        display: none;
    }
}

.buttonIcon {
    @mixin responsive width, 10, 15;
}

.telegram,
.max,
.anotherPhone {
    @mixin responsive width, 30, 36;
    @mixin responsive height, 30, 36;
    @mixin transition opacity;

    display: block;

    @media (hover: hover) {
        &:hover {
            opacity: 0.6;
        }
    }

    position: relative;
}

.anotherPhone {
    display: none;

    @media (max-width: $mobile) {
        display: block;
    }
}

.menuButton {
    @mixin responsive width, 25, 28;
    @mixin responsive height, 18, 21;

    position: relative;

    @media (max-width: $mobile) {
        display: block;
    }
}

.menuIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
