.root {
    @mixin responsive gap, 17, 17;

    display: flex;
    flex-direction: column;
}

.list {
    @mixin responsive gap, 17, 14;

    display: flex;
    flex-direction: column;
}

.title {
    @mixin text-md;

    color: var(--color-gray-1);
}

.link {
    @mixin transition color;
    @mixin b2;

    @media (hover:hover) {
        &:hover {
            color: var(--color-green-1);
        }
    }

    @media (max-width: $mobile) {
        @mixin h5;
    }
}
