.root {
    @mixin responsive padding-inline, 0, 100;
}

.contentWrapper {
    @mixin responsive padding-block-start, 0, 203;
    @mixin responsive gap, 0, 445;

    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        flex-direction: column;
    }
}

.subtitle,
.title,
.legend {
    @mixin responsive max-width, 316, 300;

    color: var(--color-white-0);

    @media (max-width: $mobile) {
        color: var(--color-black-0);
        text-align: center;
        max-width: unset;
    }
}

.subtitle {
    @mixin b2;
    @mixin responsive padding-block-end, 3, 18;

    line-height: 1;
    font-weight: 600;
}

.titleBlock {
    @mixin responsive padding-block-end, 39;
    flex-shrink: 0;
    
    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.title {
    @mixin h1;
    @mixin responsive padding-block-end, 10, 74;
}

.legend {
    @mixin b2;

    line-height: 1;

    b {
        font-weight: 600;
    }

    @media (max-width: $mobile) {
        line-height: 1.56;
    }
}

.card {
    @mixin responsive border-radius, 20, 20;
    @mixin responsive padding, 20, 34;
    @mixin responsive padding-inline, 16;

    position: relative;
    overflow: hidden;

    backdrop-filter: blur(15px);

    &::before {
        @mixin responsive border-radius, 0, 20;

        content: '';
        position: absolute;
        background: var(--color-white-0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;

        @media (max-width: $mobile) {
            display: none;
        }
    }

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-white-0);
        backdrop-filter: unset;
    }
}

.mobileImage {
    @mixin responsive height, 302;
    @mixin responsive border-radius, 30;
    @mixin responsive margin-block-end, 41;
    
    overflow: hidden;
    background-color: var(--color-white-0);
    display: none;
    position: relative;

    @media (max-width: $mobile) {
        display: block;
    }
}

.icon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.cardContent,
.cardTitle {
    color: var(--color-green-4);

    position: relative;
    z-index: 10;

    @media (max-width: $mobile) {
        text-align: center;
    }
}

.button.button[class] {
    position: relative;
    z-index: 10;
}

.cardTitle {
    @mixin h6;
    @mixin responsive padding-block-end, 20, 20;

    @media (max-width: $mobile) {
        @mixin h5;

        font-weight: 600;
    }
}

.cardContent {
    @mixin b1;
    @mixin responsive padding-block-end, 54, 33;

    line-height: 1;

    b {
        font-weight: 500;
    }

    @media (max-width: $mobile) {
        @mixin h5;
    }
}

.desktopPoster[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}