.wrapper {
    @mixin responsive --first-col, 0, 590;

    display: grid;
    grid-template-columns: var(--first-col) auto;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.contentPart,
.promotionsWrapper {
    @mixin responsive --border-radius, 30, 30;
}

.contentPart {
    @mixin responsive padding-block, 40, 120;
    @mixin responsive padding-inline, 20, 30;
    @mixin responsive gap, 10, 15;

    display: flex;
    flex-direction: column;
    background-color: var(--color-white-0);
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    @media (max-width: $mobile) {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}

.title {
    @mixin text-6xl;

    line-height: 1.33;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 28;
    }
}

.description {
    @mixin text-md;

    line-height: 1.55;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 18;
    }
}

.promotionsWrapper {
    @mixin responsive height, 280;

    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background: linear-gradient(180deg, #87DDDC 0%, #6ED79D 100%);

    @media (max-width: $mobile) {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}
