.root {
    @mixin responsive gap, 10, 14;

    width: 100%;
    display: flex;
    flex-direction: column;
}

.empty {
    @mixin b1;
    @mixin responsive padding-block, 40, 60;

    color: var(--color-gray-2);
    text-align: center;
}
