.list {
    @mixin responsive gap, 30, 30;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.card {
    height: 100%;
}