.root {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding, 30, 30;

    background-color: var(--color-white-0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    @mixin text-4xl;
}