.root {
    @mixin responsive gap, 20, 20;

    display: flex;
    flex-direction: column;
}

.pair {
    @mixin responsive gap, 20, 20;
    @mixin responsive --first-col, 0, 760;

    grid-template-columns: var(--first-col) auto;

    display: grid;

    &.odd {
        @mixin responsive --first-col, 0, 580;

        grid-template-columns: var(--first-col) auto;
    }

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.card {
    @mixin responsive padding-inline, 20, 100;
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-block, 20, 64;
    @mixin responsive gap, 10, 10;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white-0);

    &.green {
        @mixin responsive gap, 40, 40;

        justify-content: center;
        background-color: var(--color-green-1);

        .title,
        .description {
            color: var(--color-white-0);

            @media (max-width: $mobile) {
                text-align: center;
            }
        }

        .title {
            @mixin responsive font-size, 24, 32;
        }

        .description {
            @mixin b1;

            @media (max-width: $mobile) {
                @mixin h5;
                
                line-height: 1.55;
            }
        }

        @media (max-width: $mobile) {
            align-items: center;
        }
    }
}

.button.button[class] {
    width: fit-content;
}

.buttonIcon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.icon {
    @mixin responsive width, 65, 65;
    @mixin responsive height, 65, 65;
}

.title {
    @mixin responsive font-size, 18, 22;

    font-weight: 600;
    line-height: 1.55;
    color: var(--color-green-4);
}

.description {
    @mixin b2;
}