.root {
    @mixin responsive --first-col, 0, 590;
    @mixin responsive gap, 20, 20;

    display: grid;
    grid-template-columns: var(--first-col) auto;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.imageWrapper { 
    @mixin responsive height, 300;

    overflow: hidden;
    position: relative;
}

.imageWrapper,
.contentPart {
    @mixin responsive border-radius, 30, 30;

    background-color: var(--color-white-0);
}

.contentPart {
    @mixin responsive padding-block, 30, 80;
    @mixin responsive padding-inline, 20, 30;
    @mixin responsive min-height, 0, 362;
}

.title {
    @mixin text-3xl;
    @mixin responsive padding-block-end, 10, 20;
}

.descriptionContent {
    @mixin text-md;
    @mixin responsive padding-block-end, 20, 30;

    strong {
        font-weight: 600;
    }

    ol,
    ul {
        @mixin responsive padding-inline-start, 20, 20;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    @media (max-width: $mobile) {
        @mixin responsive font-size, 16;
    }
}

.timeLeft {
    @mixin text-md;
    @mixin responsive gap, 10, 10;

    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 16;
    }
}

.date {
    @mixin text-xl;

    font-weight: 600;

    background: linear-gradient(315.86deg, #6ED79D 14.09%, #87DDDC 103.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 20;
    }
}

.label {
    font-weight: 600;
}