.root {
    @mixin responsive --first-col, 0, 680;
    @mixin responsive gap, 20, 21;

    display: grid;
    grid-template-columns: var(--first-col) auto;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.posterWrapper {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive height, 208;

    position: relative;
    overflow: hidden;
}

.posterWrapper,
.content {
    @mixin responsive border-radius, 30, 30;
}

.content {
    @mixin responsive padding-block-start, 20, 64;
    @mixin responsive padding-block-end, 40, 58;
    @mixin responsive padding-inline-start, 20, 38;
    @mixin responsive padding-inline-end, 20, 101;
    @mixin responsive gap, 30, 30;

    display: flex;
    flex-direction: column;
    background-color: var(--color-white-0);
}

.descriptionBlock {
    @mixin responsive gap, 5, 5;

    display: flex;
}

.icon {
    @mixin responsive width, 20, 20;
    @mixin responsive height, 20, 20;
}

.title {
    @mixin h3;
}

.innerContent {
    @mixin responsive gap, 20, 20;
    @mixin b1;

    display: flex;
    flex-direction: column;
}

.descriptionText {
    @mixin h6;

    text-transform: uppercase;

    @media (max-width: $mobile) {
        @mixin b2;

        font-weight: 600;
    }
}
