.root {
    @mixin responsive gap, 10, 10;

    display: flex;
    flex-direction: column;
}

.title {
    @mixin text-6xl;
}

.description {
    @mixin text-md;

    @media (max-width: $mobile) {
        @mixin text-lg;

        font-weight: 400;
    }
}
