.root {
    @mixin responsive padding-block, 20, 64;
    @mixin responsive padding-inline, 20, 30;

    @mixin responsive border-radius, 30, 30;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white-0);
}

.title,
.content {
    color: var(--color-black-1);
}

.title {
    @mixin responsive padding-block-end, 20, 20;
    @mixin h3;

    line-height: 1.35;
}

.content {
    @mixin b1;
    @mixin responsive padding-block-end, 20, 30;

    b {
        font-weight: 600;
    }

    @media (max-width: $mobile) {
        @mixin b3;
    }
}

.icon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.button[class] {
    width: fit-content;
}