:root {
  --color-white-0: #fff;
  --color-white-1: #f8f6f7;

  --color-black-0: #000;
  --color-black-1: #2b2c2c;
  --color-black-2: #242424;
  --color-black-3: #515151;
  --color-black-4E6: #000000E6;
  --color-black-580: #00000080;

  --color-gray-1: #b4b4b4;
  --color-gray-2: #757575;
  --color-gray-3: #878787;
  --color-gray-4: rgba(248, 248, 248, 0.4);
  --color-gray-5: #969bab;
  --color-gray-6: #e3e3e4;
  --color-gray-7: #e5e5e5;

  --color-green-1: #45a771;
  --color-green-4: #183826

  --color-orange-1: #ff8562;

	--move-in-screen: cubic-bezier(0.4, 0, 0.2, 1);
}
