*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 1vw;

    background-color: var(--color-white-1);
}

main {
    min-height: 100vh;

    @media (max-width: $mobile) {
        min-height: unset;
    }
}

.container {
    @mixin responsive padding-inline, 20, 40;
}
