.root {
    @mixin responsive padding-block-start, 88, 100;
}

.form,
.responsibilities,
.requirements,
.titleBlock,
.whatYouWillGet,
.banner {
    @mixin responsive padding-block-end, 40, 60;
}

.title {
    @mixin text-6xl;

    text-align: center;
    margin-inline: auto;
    width: fit-content;
    line-height: 1.3;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 28;

        line-height: 1.5;
    }
}