.title {
    @mixin text-6xl;

    text-align: center;
    margin-inline: auto;
    width: fit-content;
    line-height: 1.3;

    @media (max-width: $mobile) {
        @mixin responsive font-size, 28;

        line-height: 1.5;
    }
}
