.root {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-inline, 20, 30;
    @mixin responsive padding-block, 20, 30;

    background-color: var(--color-white-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    @mixin responsive width, 20, 20;
    @mixin responsive height, 20, 20;

    path {
        fill: var(--color-white-0);
    }
}

.button.button[class] {
    flex-shrink: 0;

    @media (hover:hover) {
        &:hover .icon path {
            fill: var(--color-green-1);
        }
    }
}

.title {
    @mixin text-lg;

    max-width: 50%;
}