.root {
    display: flex;
    flex-direction: column;
}

.title,
.description,
.legend {
    color: var(--color-white-0);
}

.title {
    @mixin responsive padding-block-end, 20, 20;
    @mixin text-3xl;

    line-height: 1.35;
}

.description {
    @mixin b2;
    @mixin responsive padding-block-end, 20, 40;
}

.legend {
    @mixin text-lg;

    font-weight: 600;
    line-height: 1.35;
}
