.root {
    @mixin responsive gap, 27, 28;
    @mixin responsive border-radius, 30, 30;
    @mixin transitionOptions;
    @mixin responsive --shadow-1, 15, 15;
    @mixin responsive --shadow-2, 30, 30;
    @mixin responsive --shadow-3, -10, -10;

    transition-property: translate, box-shadow;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white-0);

    overflow: hidden;

    @media (hover:hover) {
        &:hover {
            box-shadow: 0 var(--shadow-1) var(--shadow-2) var(--shadow-3) rgba(0, 11, 48, 0.2);
            translate: 0 -3%;
        }
    }
}

.wrapper {
    @mixin responsive height, 257, 276;

    position: relative;
    background-color: var(--color-white-0);
    flex-shrink: 0;
}

.info {
    @mixin responsive padding-inline, 30, 30;
    @mixin responsive padding-block-end, 27, 48;

    display: flex;
    flex-direction: column;
    height: 100%
}

.title {
    @mixin h6;
    @mixin responsive padding-block-end, 11, 8;

    @media (max-width: $mobile) {
        @mixin h5;
        
        line-height: 1.55;
        font-weight: 600;
    }
}

.description {
    @mixin responsive padding-block-end, 15, 15;

}

.time,
.description {
    @mixin b3;

    color: var(--color-black-580);

    @media (max-width: $mobile) {
        @mixin b4;
    }
}

.description {
    line-height: 1.55;
}

.time {
    margin-block-start: auto;
}
