.root {
    @mixin responsive gap, 27, 28;
    @mixin responsive border-radius, 30, 30;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white-0);

    overflow: hidden;
}

.wrapper {
    @mixin responsive height, 257, 276;

    position: relative;
    background-color: var(--color-white-0);
    flex-shrink: 0;
}

.info {
    @mixin responsive padding-inline, 30, 30;
    @mixin responsive padding-block-end, 27, 48;

    display: flex;
    flex-direction: column;
    height: 100%
}

.title {
    @mixin h6;
    @mixin responsive padding-block-end, 11, 8;

    @media (max-width: $mobile) {
        @mixin h5;
        
        line-height: 1.55;
        font-weight: 600;
    }
}

.description {
    @mixin responsive padding-block-end, 15, 15;

}

.time,
.description {
    @mixin b3;

    color: var(--color-black-580);

    @media (max-width: $mobile) {
        @mixin b4;
    }
}

.description {
    line-height: 1.55;
}

.time {
    margin-block-start: auto;
}
