.contentPart {
  @mixin responsive gap, 20, 150;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.header {
  @mixin responsive padding-block-end, 30, 30;
}

.descriptionBlock {
  @mixin responsive padding-block, 30, 60;
  @mixin responsive padding-inline, 20, 30;
  @mixin responsive border-radius, 30, 30;
  @mixin text-lg;

  height: fit-content;
  color: var(--color-white-0);
  font-weight: 600;
  background-color: var(--color-green-1);
}
