.root {
    @mixin responsive gap, 17, 64;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    @mixin h2;

    text-align: center;
}

.list {
    @mixin responsive gap, 20, 20;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-block, 20, 40;
    @mixin responsive padding-inline, 20, 30;
    @mixin responsive --shadow-1, 15, 15;
    @mixin responsive --shadow-2, 30, 30;
    @mixin responsive --shadow-3, -10, -10;
    @mixin transitionOptions;

    transition-property: translate, box-shadow;
    background-color: var(--color-white-0);

    &:has(> details[open]) {
        .accordionIcon {
            rotate: 45deg;
            background-color: var(--color-green-1);
        }

        .icon g {
            stroke: var(--color-white-0);
        }
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 var(--shadow-1) var(--shadow-2) var(--shadow-3)
                rgb(0 11 48 / 20%);

            .icon g {
                stroke: var(--color-white-0);
            }

            .accordionIcon {
                background-color: var(--color-green-1);
            }
        }
    }
}

.accordionIcon {
    @mixin responsive width, 40, 40;
    @mixin responsive height, 40, 40;
    @mixin transitionOptions;

    transition-property: background-color, rotate;
    position: relative;
    flex-shrink: 0;
    border-radius: 100%;
}

.icon {
    @mixin responsive width, 24, 26;
    @mixin responsive height, 24, 26;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    g {
        @mixin transition stroke;

        stroke: var(--color-green-1);
    }
}

.description {
    @mixin responsive padding-block-start, 20, 40;
    @mixin b2;

    line-height: 1.55;

    ol,
    ul {
        @mixin responsive padding-inline-start, 20, 20;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}
