.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10000;
}

.wrapper {
    @mixin responsive margin-block-start, 0,12;
    @mixin responsive padding-inline, 20, 100;
    @mixin responsive padding-block, 12, 12;
    @mixin responsive border-radius, 30, 30;

    background-color: var(--color-white-0);

    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    @mixin responsive width, 102, 135;
}

.desktopNav[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}