.root {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive gap, 10, 15;
    @mixin responsive padding-block, 40, 64;
    @mixin responsive padding-inline, 20, 100;

    display: flex;
    flex-direction: column;
    background-color: var(--color-white-0);
}

.title {
    @mixin h6;

    text-transform: uppercase;
}

.description {
    @mixin b3;

    color: var(--color-gray-5);
    line-height: 1.5;
}

.button.button[class] {
    width: fit-content;
    align-items: center;
    line-height: 1;
    font-weight: 600;

    svg path,
    svg rect {
        @mixin transitionOptions;

        transition-property: fill;
    }

    svg rect {
        fill: var(--color-green-1);
    }

    svg path {
        fill: var(--color-white-0);
    }

    @media (hover: hover) {
        &:hover {
            svg rect {
                fill: var(--color-white-0);
            }

            svg path {
                fill: var(--color-green-1);
            }
        }
    }
}

.icon {
    @mixin responsive width, 20, 20;
}
