.root {
    @mixin responsive gap, 30, 30;

    display: flex;
    flex-direction: column;
}

.list {
    @mixin responsive gap, 20, 20;

    display: flex;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}