.root {
    @mixin responsive border-radius, 30, 30;

    overflow: hidden;
    background-color: var(--color-white-0);
}

.wrap {
    @mixin responsive height, 568, 520;

    position: relative;
}

.titleBlock {
    @mixin responsive padding, 20, 25;
    @mixin responsive padding-block-end, 25;
}

.fullname {
    @mixin b2;
    @mixin responsive padding-block-end, 4, 4;

    line-height: 1.2;
    font-weight: 600;

    @media (max-width: $mobile) {
        @mixin h5;

        font-weight: 600;
    }
}

.position {
    @mixin b3;

    line-height: 1.2;
    color: var(--color-gray-2);
}