.root {
    position: relative;
}

.sectionWrapper {
    position: relative;
}

.wrapper {
    @mixin responsive min-height, 823, 640;
    @mixin responsive border-radius, 0, 30;

    display: flex;
    overflow: hidden;
    position: relative;

    background-color: var(--color-white-0);

    @media (max-width: $mobile) {
        background-color: unset;
        overflow: visible;
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
}

.active {
    opacity: 1;
    transition: opacity 0.5s ease;

    @media (max-width: $mobile) {
        position: static;
    }
}

.inactive {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.rightButton,
.leftButton {
    @mixin transition background-color;
    @mixin responsive width, 30, 30;
    @mixin responsive height, 30, 30;
    @mixin responsive --shadow-1, 15, 15;
    @mixin responsive --shadow-2, 30, 30;
    @mixin responsive --shadow-3, -10, -10;

    box-shadow: 0 var(--shadow-1) var(--shadow-2) var(--shadow-3) rgba(0, 11, 48, 0.2);

    position: absolute;
    top: 50%;
    z-index: 11;

    border-radius: 100%;

    background-color: var(--color-white-0);

    @media (hover:hover) {
        &:hover {
            background-color: var(--color-green-1);

            .icon path {
                stroke: var(--color-white-0) !important;
            }
        }
    }

    @media (max-width: $mobile) {
        @mixin responsive margin-block-start, 405;

        top: 0;
    }
}

.rightButton {
    right: 0;
    translate: 50% -50%;
}

.leftButton {
    left: 0;
    rotate: 180deg;
    translate: -50% -50%;
}

.icon {
    path {
        @mixin transition stroke;
    }
}

.pagination {
    @mixin responsive gap, 10, 10;
    @mixin responsive margin-block-end, 0, 25;

    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    @media (max-width: $mobile) {
        display: none;
    }
}

.bullet {
    @mixin responsive width, 10, 10;
    @mixin responsive height, 10, 10;
    @mixin responsive border-width, 2, 2;

    border-color: var(--color-green-1);
    border-style: solid;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.bulletActive {
    background-color: var(--color-green-1);
}