.root {
    @mixin responsive gap, 30, 35;
    @mixin responsive padding-block, 40, 45;
    @mixin responsive padding-inline-start, 30, 40;
    @mixin responsive padding-inline-end, 30, 40;
    @mixin responsive border-radius, 30, 30;

    display: flex;
    flex-direction: column;
    background-color: var(--color-white-1);

    @media (max-width: $mobile) {
        background-color: var(--color-white-0);
        align-items: center;
    }
}

.button.button[class] {
    width: fit-content;
}

.title {
    @mixin h6;

    line-height: 1.35;
    color: var(--color-green-4);

    @media (max-width: $mobile) {
        text-align: center;
    }
}

.icon {
    @mixin responsive width, 25, 25;
    @mixin responsive height, 25, 25;
}

.description {
    @mixin b1;

    color: var(--color-green-4);

    ul {
        @mixin responsive padding-inline-start, 20, 20;

        text-align: start;
        list-style: disc;
    }

    b {
        font-weight: 600;
    }

    @media (max-width: $mobile) {
        text-align: center;
    }
}
