.wrapper {
    @mixin responsive border-radius, 30, 30;
    @mixin responsive padding-block, 20, 40;
    @mixin responsive padding-inline, 20, 30;

    background-color: var(--color-green-1);

    &.withCards {
        @mixin responsive gap, 0, 62;
        @mixin responsive --first-col, 0, 570;

        display: grid;
        grid-template-columns: var(--first-col) auto;

        .titleBlock {
            @mixin responsive gap, 20, 15;

            display: flex;
            flex-direction: column;
        }

        .title {
            /* @mixin responsive max-width, 0, 452; */

            text-align: start;
        }

        .steps {
            @mixin responsive gap, 20, 20;

            display: flex;
            flex-direction: column;
        }

        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
        }
    }

    &.withoutCards {
        .stepItem {
            align-items: center;

            @media (max-width: $mobile) {
                align-items: start;
            }
        }

        .titleBlock {
            @mixin responsive gap, 20, 64;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            text-align: center;

            @media (max-width: $mobile) {
                text-align: start;
            }
        }

        .steps {
            @mixin responsive gap, 20, 20;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media (max-width: $mobile) {
                flex-direction: column;
                justify-content: start;
            }
        }
    }
}

.step {
    @mixin responsive width, 20, 20;
    @mixin responsive height, 20, 20;
    @mixin responsive b3;
    @mixin responsive margin-block-start, 2;

    font-weight: 600;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: var(--color-white-0);
    position: relative;
}

.label {
    @mixin b4;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: var(--color-green-1);
}

.stepItem {
    @mixin responsive gap, 10, 10;

    display: flex;
}

.stepText {
    @mixin b1;

    line-height: 1.45;

    @media (max-width: $mobile) {
        @mixin h5;

        line-height: 1.55;
    }
}

.title,
.stepText {
    color: var(--color-white-0);
}

.title {
    @mixin text-3xl;

    line-height: 1.55;
}

.priceCards[class] {
    padding-inline: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
        display: none;
    }
}

.priceCardsMobile {
    @mixin responsive margin-block-end, 20;

    display: none;
    padding: 0;

    @media (max-width: $mobile) {
        display: flex;
    }
}
