.root {
    @mixin responsive padding-block-start, 88, 100;
}

.titleBlock {
    @mixin responsive margin-block-end, 30, 30;
}

.titleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    @mixin responsive padding-block, 30, 30;
    @mixin responsive border-radius, 30, 30;
    @mixin text-4xl;

    background-color: var(--color-white-0);
    width: 100%;
    text-align: center;
}

.parentNews,
.yandexMap {
    @mixin responsive margin-block-end, 60, 60;
}
