.root {
    @mixin responsive gap, 20, 30;

    display: flex;
}

.blog {
    @mixin b4;
    @mixin transition color;

    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;

    @media (hover: hover) {
        &:hover {
            color: var(--color-green-1);
        }
    }
}
