.root {
    @mixin responsive gap, 52, 52;

    display: flex;
    flex-direction: column;
}

.title {
    @mixin text-xl;

    font-weight: 600;
}

.description {
    @mixin text-base;

    b {
        font-weight: 600;
    }

    a {
        text-decoration: underline;
    }

    ul,
    ol {
        @mixin responsive padding-inline-start, 20, 20;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }
}