.root {
    @mixin responsive padding-block, 40, 40;
    @mixin responsive padding-inline, 20, 30;
    @mixin responsive border-radius, 30, 30;
    @mixin responsive gap, 30, 40;

    background-color: var(--color-white-0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    @mixin h3;

    text-align: center;
}

.titleWrapper {
    @mixin responsive gap, 20, 20;

    display: flex;
    flex-direction: column;
}