.root {
    position: relative;

    &.open {
        .list {
            translate: -50% 0%;
            opacity: 1;
            visibility: visible;
        }

        .arrow {
            rotate: 180deg;

            path {
                fill: var(--color-green-1);
            }
        }

        .button {
            color: var(--color-green-1);
        }
    }

    @media (hover:hover) {
        &:hover {
            .button {
                color: var(--color-green-1);
            }

            .arrow path {
                fill: var(--color-green-1);
            }
        }
    }
}

.list {
    @mixin transitionOptions;
    @mixin responsive border-radius, 20, 20;
    @mixin responsive padding-block, 20, 20;
    @mixin responsive --shadow-1, 15, 15;
    @mixin responsive --shadow-2, 30, 30;
    @mixin responsive --shadow-3, -10, -10;

    transition-property: translate, opacity, visibility;

    box-shadow: 0 var(--shadow-1) var(--shadow-2) var(--shadow-3)
                rgb(0 11 48 / 20%);
    background-color: var(--color-white-0);
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
    translate: -50% 50%;
}

.branch {
    @mixin transitionOptions;
    @mixin b2;
    @mixin responsive padding-block, 5, 5;
    @mixin responsive padding-inline, 20, 20;

    transition-property: color, background-color;
    flex-shrink: 0;
    width: 100%;

    @media (hover:hover) {
        &:hover {
            color: var(--color-white-0);
            background-color: var(--color-green-1);
        }
    }
}

.button {
    @mixin b2;
    @mixin responsive gap, 5, 5;
    @mixin transition color;
    
    display: flex;
    align-items: center;
    font-weight: 600;
}

.arrow {
    @mixin transition rotate;
    @mixin responsive width, 15, 15;

    path {
        @mixin transition fill;
    }
}